
.title {
        text-align: center;
        color: aqua;
    }
table 
{
    width: 100%;
    margin: 4px;
    text-align: left;
    box-shadow: -12px 12px 20px 10px #2e6da4;
    font-size: 15px;
    table-layout: inherit;
    font-family: 'Times New Roman';
    
       
    
 }
    
table tr:nth-child(odd){
    background: #B8CAE4;   
    }
    
table tr:nth-child(even){
    background: #dae5f4;
    }

